@media screen and (max-width: 1700px) {
  .BannerFadeBottom {
    height: 277px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}

@media screen and (max-width: 1025px) {
  .BannerFadeBottom {
    height: 186px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}

@media screen and (max-width: 768px) {
  .BannerFadeBottom {
    height: 138px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}

@media screen and (max-width: 541px) {
  .BannerFadeBottom {
    height: 99px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}

@media screen and (max-width: 415px) {
  .BannerFadeBottom {
    height: 75px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}

@media screen and (max-width: 376px) {
  .BannerFadeBottom {
    height: 69px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}

@media screen and (max-width: 361px) {
  .BannerFadeBottom {
    height: 65px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}

@media screen and (max-width: 321px) {
  .BannerFadeBottom {
    height: 58px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}

@media screen and (max-width: 281px) {
  .BannerFadeBottom {
    height: 50px;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
}
